@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: rgb(2, 31, 31);
    color: white;
    margin: 2rem;
}

main {
    background: linear-gradient(rgb(7, 79, 75) 0%, rgb(7, 48, 67) 100%);
    border-radius: 10px;
    padding: 2rem;
}

button {
    font-family: inherit;
    font-size: 0.8rem;
}

button {
    border: none;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    box-shadow: none;
    width: 300px;
    margin: 0;
}

button:hover {
    background-color: rgb(20, 91, 107);
    color: white;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}

.card {
    background-color: beige;
    color: #333;
    border-radius: 20px;
    padding: 0.5rem;
    align-self: start;
    min-height: 250px;
    height: 40vh;
}

.description {
    text-align: left;
    padding: 0 2rem;
}